@font-face {
    font-family: 'Signika', sans-serif;
    src: url("../assets/fonts/Signika-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Signika', sans-serif;
    src: url("../assets/fonts/Signika-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: 'Signika', sans-serif;
    src: url("../assets/fonts/Signika-Bold.ttf") format("truetype");
    font-weight: bold;
}

body {
    background-color: #ffffff;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}
